<section class="section about-2 padding-0 bg-black" id="about">
  <div class="container-fluid p-0">
    <div class="row no-gutters align-items-center">
      <div class="col-lg-6">
        <img class="img-fluid" src="images/about/about.jpg" alt="">
      </div>
      <div class="col-lg-6">
        <div class="content-block">
          <h2>We’re Haptex Apparel Group.</h2>
          <p>Haptex Apparel Group is a garments buying sourcing and manufacturing , one stop solutions.</p>
          <p>In order to achieve a extra work loads we have a access to our partners factories whenever we require!</p>
          <!-- <p>Haptex Apparel Group is entirely compliant to the Country's laws & regulations,
            as well as International laws and Customers Code of Conduct.</p> -->
          <!-- <div class="row">
						<div class="col-md-6">
							<div class="media">
								<div class="pull-left">
									<i class="tf-circle-compass"></i>
								</div>
								<div class="media-body">
									<h4 class="media-heading">SEO Optimized</h4>
									<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Possimus consectetur dolores repellendus
										eos saepe</p>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="media">
								<div class="pull-left">
									<i class="tf-hotairballoon"></i>
								</div>
								<div class="media-body">
									<h4 class="media-heading">Easy Customization</h4>
									<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Possimus consectetur dolores repellendus
									</p>
								</div>
							</div>
						</div>
					</div> -->
        </div>
      </div>
    </div>
  </div>
</section>
