<!-- Srart Contact Us
=========================================== -->
<section id="contact-us" class="contact-us section-bg">
	<div class="container">

    <div class="col-12">
      <!-- section title -->
      <div class="title text-center wow fadeIn" data-wow-duration="500ms">
        <h2>Get In <span class="color">Touch</span></h2>
        <div class="border"></div>
      </div>
      <!-- /section title -->
    </div>
		<div class="row">

			<!-- Contact Details -->
        <div class="contact-info col-lg-6 wow fadeInUp" data-wow-duration="500ms">
          <h3>Bangladesh</h3>
          <div class="contact-details">
            <div class="con-info clearfix">
              <i class="tf-map-pin"></i>
              <span>1st Floor Suite,Section 2,Block C,House 5B ,Road 3,
                Pallabi,Dhaka</span>
            </div>

            <div class="con-info clearfix">
              <i class="tf-ion-ios-telephone-outline"></i>
              <span>Phone: +8801779339944</span>
            </div>

            <div class="con-info clearfix">
              <i class="tf-ion-ios-telephone-outline"></i>
              <span>Phone: +8801720417699</span>
            </div>

            <div class="con-info clearfix">
              <i class="tf-ion-ios-email-outline"></i>
              <span>Email:admin@haptexapparel.com & fazlul@haptexapparel.com</span>
            </div>
          </div>
        </div>
        <!-- / End Contact Details -->

        <!-- Contact Form -->
        <div class="contact-info col-lg-6 wow fadeInUp" data-wow-duration="500ms">
          <h3>United Kingdom </h3>

          <div class="contact-details">
            <div class="con-info clearfix">
              <i class="tf-map-pin"></i>
              <span>3000 Aviators Way,Manchester Business Park,Manchester,M22 5TG</span>
            </div>

            <div class="con-info clearfix">
              <i class="tf-ion-ios-telephone-outline"></i>
              <span>Phone: +447510349199</span>
            </div>

            <div class="con-info clearfix">
              <i class="tf-ion-iphone"></i>
              <span>Whatsapp: +447719232885</span>
            </div>

            <div class="con-info clearfix">
              <i class="tf-ion-ios-email-outline"></i>
              <span>Email:sanaam@haptexapparel.com</span>
            </div>
          </div>
        </div>
			<!-- ./End Contact Form -->

		</div>

    <!-- end row -->
        <div class="row" style="margin-top: 20px;">

          <!-- Contact Details -->
          <div class="contact-info col-lg-6 wow fadeInUp" data-wow-duration="500ms">
            <h3>Canada</h3>
            <div class="contact-details">
              <div class="con-info clearfix">
                <i class="tf-map-pin"></i>
                <span>9945 167 Street NW Edmonton AB T5P Canada</span>
              </div>

              <div class="con-info clearfix">
                <i class="tf-ion-ios-telephone-outline"></i>
                <span>Tel: 001-780-554-1869</span>
              </div>

              <div class="con-info clearfix">
                <i class="tf-ion-iphone"></i>
                <span>Fax: 001-780-554-5050</span>
              </div>

              <div class="con-info clearfix">
                <i class="tf-ion-ios-email-outline"></i>
                <span>Email: patrick@haptexapparel.com</span>
              </div>
            </div>
          </div>
          <!-- / End Contact Details -->

        </div>
	</div> <!-- end container -->

</section> <!-- end section -->
