 <!--
Sticky Navigation
==================================== -->
  <header id="navigation" class="navigation">
    <div class="container">
      <div class="navbar-header w-100">
        <nav class="navbar navbar-expand-lg navbar-dark px-0">
          <!-- logo -->
          <a class="navbar-brand logo" href="#top">
            <img src="images/remove_bg.png" alt="Haptex Apparel Group" />
          </a>
          <!-- /logo -->

          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar01"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbar01">
            <ul class="navbar-nav navigation-menu ml-auto">
              <li class="nav-item">
                <a class="nav-link" href="#home">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#about">About</a>
              </li>
              <li class="nav-item">
              <a class="nav-link" href="#services">Services</a>
            </li>

            <!-- <li class="nav-item">
              <a class="nav-link" href="#team-skills">S</a>
            </li> -->
              <li class="nav-item">
                <a class="nav-link" href="#pricing">Factory</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#portfolio">Portfolio</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#our-team">Partner</a>
              </li>

              <!-- <li class="nav-item">
                <a class="nav-link" href="#blog">Blog</a>
              </li> -->
              <li class="nav-item">
                <a class="nav-link" href="#contact-us">Contact</a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </div>
  </header>
<!--
End Sticky Navigation
==================================== -->
