<section id="team-skills" class="parallax-section section section-bg overly">
  <div class="container">
    <div class="row">
      <!-- section title -->
      <div class="col-md-12">
        <div class="title text-center">
          <h2>Our <span class="color">strength</span></h2>
          <div class="border"></div>
        </div>
      </div>
      <!-- /section title -->
    </div> <!-- End row -->
    <div class="row">
      <div class="col-md-6">
        <canvas id="myChart"></canvas>
      </div>
      <div id="piechart_3d" class="col-md-6 mt-4 mt-md-0"></div>
    </div>


  </div> <!-- End container -->
</section>
