<!-- Start Pricing section
=========================================== -->

<section id="pricing" class="pricing section section-bg">
	<div class="container">
		<div class="row">

			<div class="col-12">
				<!-- section title -->
				<div class="title text-center wow fadeInDown" data-wow-duration="500ms">
					<h2>Factory <span class="color">Profile</span></h2>
					<div class="border"></div>
				</div>
				<!-- /section title -->
			</div>


			<!-- single pricing table -->
			<div class="col-lg-4 col-md-4 text-center wow fadeInUp" data-wow-duration="500ms"
				data-wow-delay="400ms">
				<div class="price-item" >

					<!-- plan name & value -->
					<div class="price-title">
						<h3>Euro Tex</h3>
					</div>
					<a class="btn btn-transparent" href="pdf/euroTex.pdf" download>Download</a>
				</div>
			</div>
			<!-- end single pricing table -->


      <div class="col-lg-4 col-md-4 text-center wow fadeInUp" data-wow-duration="500ms" data-wow-delay="600ms">
        <div class="price-item">
          <div class="price-title">
            <h3>Euro Denim</h3>
          </div>
          <a class="btn btn-transparent" href="pdf/eurodenim.pdf" download>Download</a>

        </div>
      </div>
			<!-- end single pricing table -->


		</div> <!-- End row -->
	</div> <!-- End container -->
</section> <!-- End section -->

