<!-- Start Services Section
==================================== -->
<section id="services" class="bg-one section">
	<div class="container">
		<div class="row">

			<div class="col-lg-12">
				<!-- section title -->
				<div class="title text-center wow fadeIn" data-wow-duration="500ms">
					<h2>Our <span class="color">Services</span></h2>
					<div class="border"></div>
				</div>
				<!-- /section title -->
			</div>

			<!-- Single Service Item -->
			<article class="col-lg-4 col-md-6 wow fadeInUp" data-wow-duration="500ms">
				<div class="service-block text-center">
					<div class="service-icon text-center">
						<i class="tf-globe"></i>
					</div>
					<h3>Private label production</h3>
					<p>We offer private label production services, where they produce garments for a client's brand under the
          client's label.</p>
				</div>
			</article>
			<!-- End Single Service Item -->

			<!-- Single Service Item -->
			<article class="col-lg-4 col-md-6 wow fadeInUp" data-wow-duration="500ms" data-wow-delay="200ms">
				<div class="service-block text-center">
					<div class="service-icon text-center">
						<i class="tf-ion-laptop"></i>
					</div>
					<h3>Design and Development</h3>
					<p>We have in-house designers who can create original designs or work with clients to develop their ideas.</p>
				</div>
			</article>
			<!-- End Single Service Item -->

			<!-- Single Service Item -->
			<article class="col-lg-4 col-md-6 wow fadeInUp" data-wow-duration="500ms" data-wow-delay="400ms">
				<div class="service-block text-center">
					<div class="service-icon text-center">
						<i class="tf-genius"></i>
					</div>
					<h3>Sourcing &amp; Procurement</h3>
					<p>We have established relationships with suppliers of fabrics, trims, and other materials necessary for
          garment production.</p>
				</div>
			</article>
			<!-- End Single Service Item -->

			<!-- Single Service Item -->
			<article class="col-lg-4 col-md-6 wow fadeInUp" data-wow-duration="500ms" data-wow-delay="200ms">
				<div class="service-block text-center">
					<div class="service-icon text-center">
						<i class="tf-dial"></i>
					</div>
					<h3>Logistics and shipping</h3>

					<p>We handle the logistics of getting the finished products to the client,
          whether that involves coordinating with freight forwarders, customs brokers, or other intermediaries.</p>
				</div>
			</article>
			<!-- End Single Service Item -->

			<!-- Single Service Item -->
			<article class="col-lg-4 col-md-6 wow fadeInUp" data-wow-duration="500ms" data-wow-delay="400ms">
				<div class="service-block text-center">
					<div class="service-icon text-center">
						<i class="tf-target3"></i>
					</div>
					<h3>Quality Control & Assurance</h3>
					<p>We have dedicated quality control teams that inspect each garment to ensure
          that it meets the agreed-upon standards for quality, fit, and finish.</p>
				</div>
			</article>
			<!-- Single Service Item -->
			<article class="col-lg-4 col-md-6 wow fadeInUp" data-wow-duration="500ms" data-wow-delay="600ms">
				<div class="service-block text-center kill-margin-bottom">
					<div class="service-icon text-center">
						<i class="tf-lifesaver"></i>
					</div>
					<h3>Inventory Management & Fulfillment</h3>
					<p>We offer inventory management and fulfillment services, where we
          store and manage a client's inventory of finished products and handle the shipping and fulfillment of orders directly to
          customers.</p>
				</div>
			</article>
			<!-- End Single Service Item -->

		</div> <!-- End row -->
	</div> <!-- End container -->
</section> <!-- End section -->
