<!-- Start Team Skills
		=========================================== -->

<section id="team-skills" class="parallax-section section section-bg overly">
  <div class="container">
    <div class="row">
      <!-- section title -->
      <div class="col-md-12">
        <div class="title text-center">
          <h2>Our <span class="color">strength</span></h2>
          <div class="border"></div>
        </div>
      </div>
      <!-- /section title -->
    </div> <!-- End row -->
    <div class="row">
        <div class="col-md-6" >
          <canvas id="myChart" style="height: 370px; width: 100%;"></canvas>
        </div>
        <div class="col-md-6">
              <div id="piechart_3d" style="height: 370px; width: 100%;"></div>
        </div>
    </div>


  </div> <!-- End container -->
</section> <!-- End section -->


<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
  google.charts.load("current", { packages: ["corechart"] });
  google.charts.setOnLoadCallback(drawChart);
  function drawChart() {
    var data = google.visualization.arrayToDataTable([
      ['Mix', 'Per Product'],
      ['Melange', 69],
      ['PC-CVC', 7],
      ['Polyester Polyamide', 10],
      ['Organic Cotton', 4],
      ['COtton-Visco-Modal-Elastane', 10]
    ]);

    var options = {
      backgroundColor: "#353b43",

      title: 'Fabric Mix',
      is3D: true,
    };

    var chart = new google.visualization.PieChart(document.getElementById('piechart_3d'));
    chart.draw(data, options);
  }
</script>


<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
<script>
  var xValues = ["PRIMARK", "GIANT TIGER", "NKD + PIERRE CARDIN", "SMYK + DELTA + HONEYS", "MLP + MATALAN", "OTHERS"];
  var yValues = [30, 20, 20, 10, 10, 10, 0];
  var barColors = ["red", "green", "blue", "orange", "brown", "yellow"];

  new Chart("myChart", {
    type: "bar",
    data: {
      labels: xValues,
      datasets: [{
        backgroundColor: barColors,
        data: yValues
      }]
    },
    options: {
      legend: { display: false },
      title: {
        display: true,
        text: "Export Share"
      }
    }
  });
</script>
