<!-- Start Testimonial
=========================================== -->

<section id="testimonial" class="testimonial overly section bg-2">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<!-- testimonial wrapper -->
				<div id="testimonials" class="wow fadeInUp" data-wow-duration="500ms" data-wow-delay="100ms">

					<!-- testimonial single -->
					<div class="item text-center">

						<!-- client photo -->
						<div class="client-thumb">
							<img src="images/team/client-1.jpg" class="img-fluid" alt="haptex">
						</div>
						<!-- /client photo -->

						<!-- client info -->
						<div class="client-info">
							<div class="client-meta">
								<h3>Jonathon Andrew</h3>
								<span>Mar 26, 2023</span>
							</div>
							<div class="client-comment">

                <p>Excellent working environment with great Leadership, discipline and productive work with Sincere and dedicated Staff
                                  at
                                  Service.</p>
							</div>
						</div>
						<!-- /client info -->
					</div>
					<!-- /testimonial single -->

					<!-- testimonial single -->
					<div class="item text-center">

						<!-- client photo -->
						<div class="client-thumb">
							<img src="images/team/client-2.jpg" class="img-fluid" alt="haptex">
						</div>
						<!-- /client photo -->

						<!-- client info -->
						<div class="client-info">
							<div class="client-meta">
								<h3>Thomas Alve</h3>
								<span>Jan 26, 2023</span>
							</div>
							<div class="client-comment">
                  <p>Quality Control Supervisor Maintained quality standards in-house and by traveling to out-of-state factories. Provided
                    direction and communication between corporate and contracted factories. Coordinated warehouse inventory and monitored
                    work in progress within a warehouse atmosphere. Executed the ordering process for trim items required for each order.
                    Provided support as administrative assistant to key personnel and receptionist.</p>
							</div>
						</div>
						<!-- /client info -->
					</div>
					<!-- /testimonial single -->

					<!-- testimonial single -->
					<!-- /testimonial single -->

				</div> <!-- end testimonial wrapper -->
			</div> <!-- end col lg 12 -->
		</div> <!-- End row -->
	</div> <!-- End container -->
</section> <!-- End Section -->
